
.light-gray {
  color: #3C3C43;
  opacity: 0.6;
}

.light-black {
  color: #11263C !important;
}

.gray-50 {
  color: #D0D1D2;
}

.background-green {
  background-color: #2BDE73;
}

.background-gray {
  background-color: #D0D1D2;
}

.background-light-gray {
  background-color: #F8F9FE;
}

.light-violet {
  color: #422F8A;
  opacity: 0.87;
}

.fill-light-violet {
  fill: #422F8A;
  opacity: 0.87;
}

.stroke-light-violet {
  stroke: #422F8A;
  opacity: 0.87;
}

.border-gray-light {
  border-color: #D0D1D2;
}

.border-gray-lighter {
  border-color: #ECE9F1;
}

.light-secondary-gray {
  color: #3C3C43;
  opacity: 0.6;
}
